.cost-item-left {
    display: grid;
    align-items: center;
    grid-template-columns: 77px 1fr 1fr;
    grid-gap: 8px;
}

.btn__block-inner {
    display: flex;
    justify-content: flex-end;
}

/* .btn-cancel */
.cost-item__price-input {
    margin-right: 15px;
}

.btn-save {
    margin-right: 7px;
}